<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="KamoulTitle.png" alt="Kamoul" class="navbar-brand-img" />
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <img src="KamoulIcon.ico" alt="Kamoul" class="nav-icon" />
                <span>Kamoul</span>
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rules">
                <img src="playing-cards.ico" alt="Playing Cards" class="nav-icon" />
                <span>Règles</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="contact">
                <img src="ContactIcon.ico" alt="Contact" class="nav-icon" />
                <span>Contact</span>
            </NavLink>
        </div>
    </nav>
</div>

